html{
    scroll-behavior: smooth;
}
body{
    font-family: "Sorts Mill Goudy";
}
.title{
    padding-top: 20px;
    text-align: center;
}
.img{
    width: 10%;
    height: 10%;
}
.lessonBox{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left:2%;
}
.navItem{
    padding-left: 20px;
    padding-right:20px;
}
